<p>Greetings User,</p>
<p>
    Rejoice! <b>A comment has been added to your trailhead on TrailWhisper!</b>

    <br />
    Check it out <%= link_to 'here', place_url(@place) %>.
</p>

Regards, <br />
TrailBot